/* Test comment*/
@font-face {
    font-family: 'Dangrek-Regular';
    src: url('Fonts/Dangrek-Regular.ttf') format('truetype');
}

:root {
    --primary: #85586F;
    --secondary: #AC7D88;
    --tertiary: #DEB6AB;
    --text: #2e2e2e;
    --alt: #F8ECD1;
    --background: #e2c6bed3;
}

/* General */

body {
    font-family: 'Dangrek-Regular';
    background-color: var(--background);
    margin: 0;
  }
b {
    font-weight: 750;
}
h1 {
    font-size: 80px;
    color: var(--secondary);
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }
h2 {
    font-size: 40px;
    color: var(--secondary);
    text-align: center;
    margin-top: 0;
}
h3 {
    font-size: 36px;
    color: var(--secondary);
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
h4 {
    font-size: 32px;
    color: var(--secondary);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}
div.big {
    width: 1100px;
    margin: auto;
}
div.small {
    width: 90%;
    margin: auto;
    padding: 20px;
    border-style: solid;
    border-color: var(--tertiary);
    border-width: 10px;
    border-radius: 10px;
    background-color: var(--alt);
}
div.sub {
    width: 75%;
    margin: auto;
    padding: 10px;
    border-style: solid;
    border-color: var(--tertiary);
    border-width: 0px;
    border-radius: 10px;
    background-color: var(--alt);
    font-size: 18px;
}
div.main {
    margin-top: 7.5%;
    margin-left: 20%;
}
div.home {
    margin-top: 120px;
}
p {
    color: var(--text);
    text-align: center;
    position: relative;
    font-size: 22px;
}
p.sub{
    color: var(--text);
    text-align: left;
    position: relative;
    font-size: 18px;
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 0;
}
ul {
    display: table;
    margin: 0;
    text-align: left;
    list-style-position: inside;
    color: var(--text);
}
li {
    vertical-align: left;
    font-size: 20px;
}
iframe {
    aspect-ratio: 16/9;
    height: auto;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Top Navigation Bar */
div.topnav {
    background-color: var(--secondary);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    margin: auto;
    z-index: 999;
    border-bottom: 10px solid var(--primary);
}
.topnav a {
    display: block;
    padding: 8px;
    padding: 20px 18px;
    text-align: center;
    font-size: 36px;
    float: left;
    color: var(--text);
    border-radius: 10px;
  }
.topnav a:active {
    color: white;
}
.topnav a:hover {
    background-color: var(--primary);
}
div.topnav-selection {
    margin-left: 20%;
}
/* Side Navigation Bar */
div.sidenav {
    margin-top: 3%;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--tertiary);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
/* - The navigation menu links */
div.sidenav a {
    padding: 6px 8px 6px 30px;
    text-decoration: none;
    font-size: 24px;
    color: var(--text);
    display: block;
    border-radius: 10px;
}
a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}
/* - When you mouse over the navigation links, change their color */
div.sidenav a:hover {
    background-color: var(--alt);
    color: var(--text);
}
div.sidenav-selection {
    margin-top: 15%;
}

/* Hero Section */
.hero {
    width: 1100px;
    margin: auto;
    display: flex;
    gap: 100px;
    padding: 20px;
}
.hero-text {
    display: flex;
    flex-direction: column;
}
.summary {
    display: flex;
    width: 80%;
    justify-content: center;
    margin: auto;
}

/* - About Me Section */
div.aboutme {
    width: 90%;
    margin: auto;
    padding: 30px;
    min-height: 475px;
    border-style: solid;
    border-color: var(--tertiary);
    border-width: 15px;
    border-radius: 20px;
    background-color: var(--alt);
}
div.aboutme-section {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 60%;
}

/* - Skills Section */
.skills {
    display: flex;
    flex-direction: column;
    width: 25%;
}

pre code {
  background-color: #ededed;
  border: 3px solid #999;
  display: block;
  padding: 10px;
  width: 90%;
  margin: auto;
  font-size: 14px;
  font-family: "Cascadia Mono", monospace;
}

details {
    user-select: none;
    padding: 15px;
}

summary {
    display: flex;
    cursor: pointer;
    font-size: 20px;
    border: 5px solid var(--secondary);
    border-radius: 10px;
    background-color: var(--tertiary);
    padding: 10px;
}

summary::-webkit-details-marker {
    display: none;
}

p.details {
    font-size: 18px;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: var(--secondary);
}

li.big {
    font-size: 24px;
    font-weight: 300;
}

iframe.blueprint {
    aspect-ratio: 16/9;
    height: auto;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}