/* Test comment*/
body {
    font-family: 'Chivo Mono';
    font-weight: 300;
    background-color: #ae95d0;
    margin: 0;
  }
b {
    font-weight: 700;
}
h1 {
    color: #574a68;
    text-align: center;
  }
h2 {
    color: #574a68;
    text-align: center;
}
h3 {
    color: #574a68;
    text-align: center;
}
h4 {
    color: #574a68;
    text-align: center;
}
div.big {
    width: 200px;
    margin: auto
}
div.small {
    width: 80%;
    margin: auto;
    padding: 10px;
    border-style: solid;
    border-color: #574a68;
    border-width: 5px;
    background-color: #cebfe2;
}
div.topnav {
    background-color: #855fb9;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    margin: auto;
    z-index: 999;
    
}
div.sidenav {
    margin-top: 80px;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 240px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
  
  /* The navigation menu links */
  div.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    display: block;
  }
a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}
  /* When you mouse over the navigation links, change their color */
  div.sidenav a:hover {
    background-color: #ddd;
    color: #000000;
  }
div.main {
    margin-top: 120px;
    margin-left: 200px;
}
p {
    color: black;
    text-align: center;
    position: relative;
}
ul {
    display: table;
    margin: 0 auto;
    text-align: center;
    list-style-position: inside;
}
li {
    vertical-align: middle;
}
.topnav a {
    display: block;
    padding: 8px;
    padding: 20px 18px;
    text-align: center;
    font-size: 36px;
    float: left;
    color: #000000;
  }

.topnav a:active {
    background-color: #000000;
    color: white;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  iframe {
    aspect-ratio: 16/9;
    height: auto;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }